name: CI

on: [pull_request]

jobs:
  check-for-cc:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - run: npm install
      - run: npm run build --if-present
      
      - name: check-for-cc
        id: hello
        uses: ./
        with:
          who-to-greet: 'Agent Hunt'
